h1{
    color: blueviolet;
    padding: 5px;
}

body{
    background-color: gray;
}

.destaque-input{
    border: 2px solid blue;
    transition: border 0.3s ease;
    background-color: yellow;
}

.container{
    align-content: center;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.card{
    align-content: center;
    text-align: center;
    max-width: 50%;
    padding: 5px;
    margin: 15px;
}